@font-face {
	font-family: "Hack-TTF";
	font-size: 2rem;
	src: url("assets/fonts/Hack-Regular.ttf");
}

:root {
	font-family: "SauceCodePro Nerd Font";
  font-weight: 500;
	font-size: 18px;
}

* {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111827;
  color: white;
}

main {
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;

}

@media only screen and (max-width: 900px) {
  main {
    max-width: 600px;
  }
}


a {
  color: white;
}

.small {
  font-size: 0.6em;
}

nav {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 800;
}

nav h3 {
  color: #ffffff70;
  margin-left: 15px;
}

nav h3:hover {
	cursor: pointer;
}

h3 a {
  color: #ffffff70;
  text-decoration: none;
}

h1 a {
	text-decoration: none;
}

hr {
	margin: 30px 0;
}

.card {
  position: absolute;
  
  padding-left: 1.5rem;

  width: 500px;
  height: 100px;

  border-style: solid;
  border-width: 5px;
  border-color: white;

  background-color: #111827;
  transition: margin 0.25s;
}

.card-holder {
  height: 150px;
  width: 540px;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.card-holder {
  cursor: pointer;

}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#click-alert {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.25s;
  animation-delay: 5s;
  animation-fill-mode: forwards;

  font-style: italic;
}