@font-face {
  font-family: "Sauce Code Pro";
  font-weight: 500;
  src: url("/assets/fonts/Sauce-Code-Pro.ttf");
}

:root {
  font-family: "Sauce Code Pro", monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d0d0d;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

main {
  height: 80vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 2rem;
  flex: 1 1 auto;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

hr {
  width: 100%;
}

article > * {
  padding-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  #main {
    flex-direction: column;
  }
}

a {
  color: white;
}

p {
  margin: 0;
}

.small {
  font-size: 0.6em;
}

nav {
  display: flex;
  align-items: flex-end;
  margin: 1.5rem 2rem;
}

h1 {
  font-weight: 800;
  color: white;
  margin: 0;
}

nav > a {
  color: #ffffff70;
  margin-left: 15px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
}

nav a:hover {
  cursor: pointer;
}

h1 a {
  text-decoration: none;
}

.card {
  position: absolute;

  padding-left: 1.5rem;

  width: 500px;
  height: 100%;

  border-style: solid;
  border-width: 5px;
  border-color: white;

  background-color: #111827;
  transition: margin 0.5s;
}

.card-holder {
  position: relative;
  width: 100%;
  margin: 70px 0;
  margin-bottom: -5px;

  display: grid;
  align-items: end;

  user-select: none;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#click-alert {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.25s;
  animation-delay: 5s;
  animation-fill-mode: forwards;

  font-style: italic;
}

img {
  max-width: 100%;
  max-height: 31.4159265359rem;
}

#main {
  gap: 3rem;
}

h3 {
  color: #e6a866;
  font-weight: 400;
}

#code-block p,
#code-block a {
  margin-left: 3rem;
}
