@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-family: "Fira Code", monospace;
  font-size: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111827;
  color: white;
}

main {
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;

}

@media only screen and (max-width: 900px) {
  main {
    max-width: 600px;
  }
}


a {
  color: white;
}

.small {
  font-size: 0.6em;
}

nav {
  display: flex;
  align-items: center;
}

nav h3 {
  color: #ffffff70;
  margin-left: 15px;
}

nav h3:hover {
	cursor: pointer;
}

h3 a {
  color: #ffffff70;
  text-decoration: none;
}

h1 a {
	text-decoration: none;
}

hr {
	margin: 30px 0;
}

.card {
  position: absolute;
  
  padding-left: 1.5rem;

  width: 500px;
  height: 100px;

  border-style: solid;
  border-width: 5px;
  border-color: white;

  background-color: #111827;
  transition: margin 0.25s;
}

.card-holder {
  height: 150px;
  width: 540px;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-holder {
  cursor: pointer;

}