---
// Component Imports
import Home from '../components/Home.astro';
import Navbar from '../components/Navbar.tsx'
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Portfolio';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charSet="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/global.css">
</head>
<body>
    <Navbar/>
	<main>
		<Home/>
	</main>
    <hr/>
    <footer>
        <div>
            <a href="https://github.com/empdo">Github</a>
            <br/>
            <a href="/projects">Projects</a>
        </div>
        <h3>Emil Essung</h2>
    </footer>

</body>
</html>
