---
import {Markdown} from "astro/components";
import Cards from "../components/Cards.tsx";
---

<header>
    <Cards client:load/>
    <Markdown>

        ## Skills <span class="small">(sorted in confidence)</span>
        - Python
        - JavaScript / TypeScript
        - Dart

        I also have experince making games with C# in unity and minecraft plugins with java.
     
        ## Technology
        - React
        - Flutter
        - HTML + CSS/SCSS
        - Linux
        - Git
        - Nginx 
        - SSH
        - Vim

        ## Contact

        Email: emil.essung@live.se

        LinkedIn: [Emil Essung](https://www.linkedin.com/in/emil-essung-1b4b21217/)

    </Markdown>
    
</header>